:root {
  --color-background: #0d012c;
  --color-white: #fff;
  --color-dark: #161818;
  --link-hover: #0056b3;
  --color-button-hover: #59c378;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-poppins), sans-serif !important;
  background: var(--color-background) !important;
  user-select: none;
  font-size: 0.88rem;
  overflow-x: hidden !important;
  transition: 0.5s background ease;
}

a {
  color: var(--color-white);
  text-decoration: none !important;
}
