:root {
  --color-background: #0d012c;
  --color-white: #fff;
  --color-dark: #161818;
  --link-hover: #0056b3;
  --color-special-color: #eff30e;
  --color-info-light: #c7cbd8;
  --color-button: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  --color-button-hover: #59c378;
  --color-card2: #14143a;
  --color-footer-background: rgb(20, 4, 43);
  --color-skill-background: rgb(23, 32, 61);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-poppins), sans-serif !important;
  background: var(--color-background) !important;
  user-select: none;
  font-size: 0.88rem;
  overflow-x: hidden !important;
}

a {
  color: var(--color-white);
  text-decoration: none !important;
}
