@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-clear-background: #a1b3fc;
  --color-background: #0d012c;
  --color-white: #fff;
  --color-dark: #161818;
  --link-hover: #0056b3;
  --color-special-color: #eff30e;
  --color-info-light: #c7cbd8;
  --color-blue: #17c0e9;
  --color-orange: #f45162;
  --color-pink: #c96ddd;
  --color-button: linear-gradient(
    to left,
    var(--color-blue),
    var(--color-pink),
    var(--color-orange)
  );
  --color-button-hover: #59c378;
  --color-card2: #14143a;
  --color-footer-background: rgb(20, 4, 43);
  --color-skill-background: rgb(23, 32, 61);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-poppins), sans-serif !important;
  background: var(--color-background) !important;
  font-size: 0.88rem;
  overflow-x: hidden !important;
  /* user-select: none; */
}

a {
  color: var(--color-white);
  text-decoration: none !important;
}

.btn-hover:hover {
  background: var(--color-button);
}

.services-container {
  .service_text_one {
    grid-area: text1;
  }
  .service_text_two {
    grid-area: text2;
  }
  .service_image {
    grid-area: img;
  }
  display: grid;
  gap: 1rem;
  text-align: left;
  grid-template-areas:
    'text1 img text2'
    'text1 img text2';
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 1000px) {
    grid-template-areas:
      'img img'
      'text1 text1'
      'text2 text2';
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/* animations */

@keyframes MoveRightLeft {
  0% {
    transform: translatex(235px);
  }
  100% {
    transform: translateY(0px);
  }
}
